<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestion BO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'document'" >Documents</a>
      </li><br><br>
      <li class="nav-item">
        <a class="nav-link" routerLink="addDocument" >Add Document</a>
      </li><br><br>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'etat'">Etats</a>
      </li><br><br>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'addEtat'">Add Etat</a>
      </li><br><br>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'reviwer'">Reviwers</a>
      </li><br><br>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'addReviwer'">Add Reviwer</a>
      </li>
    </ul>
  </div>
</nav>
